* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #222831;
    --main-color-alt: #52C3CC;
    --main-color-text: #EEEEEE;
    --main-transition: 0.3s;
    /* --section-background: #ececec; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-color);
    height: 1000px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header  */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;



}

.header .logo {
    color: var(--main-color-alt);
    font-size: 3rem;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}



.header .main-nav {
    display: flex;
    color: var(--main-color-text);
    flex: 1;


}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li>a {
    justify-content: center;
    align-items: center;
    height: 72px;
    color: var(--main-color-text);
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    line-height: 27px;
    transition: var(--main-transition);
    justify-content: flex-start;
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav-log {
    display: flex;
    color: var(--main-color-text);
    justify-content: flex-end;
}

.header .main-nav-log>li>a {
    display: flex;
    color: var(--main-color-text);
    padding: 0 30px;

}

.header .container .main-nav-log a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .container .main-nav-log .singup {
    border-radius: 20px;
    border: none;
    background-color: var(--main-color-alt);
    color: var(--main-color-text);
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.main-nav a {
    padding: 10px 27px;
}

.main-nav li {
    position: relative;
}

.main-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px solid var(--main-color-alt);
    background-color: var(--main-color-alt);
    bottom: -3px;
    left: 29px;
    top: 30px;
    transition: ease 0.4s;
}

.main-nav a:hover::after {
    width: 56%;
}

/* End header  */

/* Start Landing */
.landing {
    position: relative;
    padding-top: 40px;
}



.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
    position: relative;
}

/* 
.landing .text h1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 60px;
    height: 15%;
    width: 70%;
    background-color: var(--main-color);
    border-left: 2px solid var(--main-color-alt);
    animation: typing 2s steps(8) infinite;
}

@keyframes typing {
    80% {
        left: 100%;
        margin: 0 -35px 0 35px; 
    }
} */

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 4rem;
    color: var(--main-color-alt);
    margin-left: 0;
    letter-spacing: 5px;
}

.landing .text h2 {
    color: var(--main-color-text);
    font-size: 57px;
    margin-bottom: 0;

}

.landing .team {
    margin-top: -10px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    padding-left: 52px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

/* End Landing */