* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



:root {
    --main-color: #222831;
    --main-color-alt: #52C3CC;
    --main-color-text: #EEEEEE;
    --main-transition: 0.3s;
    /* --section-background: #ececec; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-color);
    /* height: 1000px; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header  */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    position: relative;



}

.header {
    position: fixed;
    margin-left: 160px;
    z-index: 1000;
    background-color: var(--main-color);
}

.header .logo {
    color: var(--main-color-alt);
    font-size: 3rem;
    font-weight: bold;
    height: 72px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}




.header .main-nav {
    display: flex;
    color: var(--main-color-text);
    /* flex: 1; */

}



.header .main-nav>li>a {
    justify-content: center;
    align-items: center;
    height: 72px;
    color: var(--main-color-text);
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    line-height: 27px;
    transition: var(--main-transition);
    justify-content: flex-start;
}



.header .main-nav-log {
    display: flex;
    color: var(--main-color-text);
    justify-content: flex-end;

}

.header .main-nav-log>li>a {
    display: flex;
    color: var(--main-color-text);
    padding: 0 30px;

}

.header .container .main-nav-log a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .container .main-nav-log .singup {
    border-radius: 20px;
    border: none;
    background-color: var(--main-color-alt);
    color: var(--main-color-text);
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.main-nav a {
    padding: 10px 27px;
}

.main-nav li {
    position: relative;
}

.main-nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px solid var(--main-color-alt);
    background-color: var(--main-color-alt);
    bottom: -3px;
    left: 29px;
    top: 30px;
    transition: ease 0.4s;
}

.main-nav a:hover::after {
    width: 56%;
}

.fa-crown:before {
    color: #DCD52F;
    margin-left: -25px;
}

.h-logo {
    display: none;
}


/* .wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} */


/* End header  */

/* Start Landing */
.landing {
    position: relative;
    padding-top: 40px;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 50px; */
}

.landing .text {
    flex: 1;
    position: relative;
}

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -40px;
    }
}


.landing .text h1 {
    font-size: 4rem;
    color: var(--main-color-alt);
    margin-left: 0;
    letter-spacing: 5px;
}

.landing .text h2 {
    color: var(--main-color-text);
    font-size: 57px;
    margin-bottom: 0;

}

.landing .team {
    margin-top: -10px;
}



.landing .image img {
    position: relative;
    width: 550px;
    padding-left: 52px;
    animation: up-and-down 5s linear infinite;
}



/* End Landing */


/* start Projects */

.direction {
    text-align: center;
}

.direction button {
    font-family: cursive;
    font-weight: bold;
    background-color: #ffffff44;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    margin: 0 10px;
}

.direction button:hover {
    background-color: #ffffff;
}

.item {
    border-radius: 15px;
    width: 300px;
    height: 500px;
    background-image: linear-gradient(to top, #AEC0CE, #ECECF2);
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
    scroll-snap-align: start;
}

.item .avatar {
    display: block;
    /* margin: 50px auto 10px; */
    /* width: 100px; */
    height: 270px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 15px #7e878d
}

.item .content {
    padding: 30px;
    font-family: monospace;
}

.item .content table td {
    padding: 10px 0;
    border-bottom: 1px solid #AEC0CE;
}

.item .content table td:nth-child(2) {
    text-align: right;
}

.item .nameGroup {
    text-align: center;
    border-bottom: none !important;
}

#list {
    display: flex;
    width: max-content;
}

#formList {
    width: 1280px;
    max-width: 100%;
    overflow: auto;
    margin: 100px auto 50px;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}

#formList::-webkit-scrollbar {
    display: none;
}

#Projects {
    padding-bottom: 120px;
    padding-top: 7px;
}

/* Start AboutUS */
#AboutUS {
    color: var(--main-color-text);
    padding-bottom: 120px;
}

.main {
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--main-color-text);
    /* background-color: #0c52a1; */

}

.profile-card {
    position: relative;
    width: 220px;
    height: 180px;
    background: var(--main-color-alt);
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
}

.profile-card:hover {
    border-radius: 10px;
    height: 260px;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}

.profile-card:hover .img {
    transform: translateY(-60px);
}

.img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.profile-card:hover img {
    border-radius: 10px;
}

.caption {
    text-align: center;
    transform: translateY(-140px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h3 {
    font-size: 21px;
}

.caption p {
    font-size: 16px;
    color: #0c52a1;
    margin: 2px 0 9px 0;
}

.caption .social-links a {
    color: #333;
    margin-right: 8px;
    font-size: 21px;
    transition: .6s;
}

.social-links a:hover {
    color: #0c52a1;
}

/* Start Contact */

.contact {
    background-color: var(--main-color-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
}

.contact-links {
    background-color: #1f2e43;
    background:
        radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%),
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
        radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%),
        radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%),
        #1f2e43;
    border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
}

h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    cursor: pointer;
}

.imge {
    width: 45px;
    height: 45px;
    filter:
        hue-rotate(189deg) drop-shadow(2px 4px 4px #0006);
    transition: 0.2s;
    user-select: none;
}

.imge:hover {
    transform: scale(1.1, 1.1);
}

.imge:active {
    transform: scale(1.1, 1.1);
    filter:
        hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.form-item {
    position: relative;
    margin-top: 20px;
}



label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
}

input,
textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
}

.submit-btn {
    background-color: var(--main-color);
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.submit-btn:hover {
    transform: scale(1.1, 1.1);
}

.submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
}

#Contact {
    padding-bottom: 220px;
}

/* End Contact */

/* start footer */

#footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: var(--main-color-alt);
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}




.containerr {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    min-width: 250px;
    color: #f2f2f2f2;
    font-family: poppins;
    padding: 0 2rem;
}

.col .logo {
    width: 100px;
    margin-bottom: 25px;
}

.col h3 {
    color: var(--main-color);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col h3::after {
    content: '';
    height: 3px;
    width: 0px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;

}

.col h3:hover::after {
    width: 30px
}

.col .social a i {
    color: var(--main-color);
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

.col .social a i:hover {
    transform: scale(1.5);
    filter: grayscale(25);
}

.col .linkss a {
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .linkss a::before {
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: var(--main-color);
    transition: 0.5s ease;
    opacity: 0;
}

.col .linkss a:hover::before {
    opacity: 1;
}

.col .linkss a:hover {
    transform: translateX(-8px);
    color: var(--main-color);
}

.col .contact-details {
    display: inline-flex;
    justify-content: space-between;
}

.col .contact-details i {
    margin-right: 15px;
}

.row .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.row .form input {
    background-color: var(--main-color-text);
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form .b {
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--main-color);
}