/* Start header Responsive */

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
        margin-top: 20px;

    }

    .h-logo {
        display: block;
    }
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    .header .main-nav {
        /* margin: auto; */
        display: none;
    }

    .header .main-nav-log {

        display: none;
    }
}

/* Start Landing Responsive */

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 50px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

/* start Projects */
@media screen and (max-width: 1024px) {
    .item {
        width: calc(33.3vw - 20px);
    }

    .direction {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .item {
        width: calc(50vw - 20px);
    }

    .direction {
        display: none;
    }
}


/* Start contact */
@media only screen and (max-width: 800px) {

    .contact-links,
    .contact-form-wrapper {
        width: 100%;
    }

    .contact-links {
        border-radius: 10px 10px 0 0;
    }

    .contact-form-wrapper {
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 400px) {
    .contact-box {
        width: 95%;
        margin: 8% 5%;
    }
}

@media only screen and (max-width: 800px) {
    h2 {
        font-size: clamp(40px, 10vw, 60px);
    }
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: clamp(30px, 12vw, 60px);
    }

    .links {
        padding-top: 30px;
    }

    img {
        width: 38px;
        height: 38px;
    }
}


/* footer */
@media(max-width:900px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media(max-width:768px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
}